:root {
    --shake-move: 3px;
    --color1: red;
    --color2: magenta;
}
@keyframes progress {
    0% {width:0%;}
    100% {width:100%;}
}
#game {
    text-align: center;
    height: 400px;
    width: 100%;
}
#progress {
    z-index: 2;
    animation: progress auto linear;
    animation-timeline: scroll();
    position: fixed;
    height: 10px;
    top: 0;
    left: 0;
    background: linear-gradient(90deg, var(--color1), var(--color2));
    box-shadow: 0 0px 10px;
}
#secret {
    font-family: "Montserrat";
    color: black;
    position: absolute;
    top: 0;
    background-color: white;
    width: 100%;
    margin: 20px;
}
@keyframes rainbow {
    0% {background-color: red;transform: rotate(0deg);}
    25% {background-color: yellow;transform: rotate(10deg);}
    35% {background-color: greenyellow;}
    60% {background-color: skyblue;}
    75% {transform: rotate(-10deg);}
    100% {background-color: red;transform: rotate(0deg);}
}
rainbow {
    color: white;
    transition: all 0.2s;
    animation: rainbow 2s linear 0s infinite;
    display: inline-block;
    padding: 5px;
    border-radius: 5px;
    background-color: red;
}
rainbow:hover {
    scale: 1.1;
    cursor: pointer;
}
superheading {
    font-size: 2em;
    font-weight: 600;
    background: linear-gradient(90deg, var(--color1), var(--color2));
    color: transparent;
    background-clip: text;
}
.quote {
    color: black;
    margin-left: 30px;
    padding-left: 10px;
    border-left: solid grey 5px
}
@keyframes shout {
    0% {scale: 0.1;}
    20% {scale: 3;}
    100% {scale: 0;}
}
shout {
    animation: shout 2s linear;
    position: fixed;
    z-index: 90;
    font-family: "Montserrat";
}
shouter:hover {
    cursor: pointer;
}
button {
    transition: all 0.2s;
    background: linear-gradient(90deg, var(--color1), var(--color2));
    border-radius: 10px;
    color: white;
    padding: 10px;
    border: none;
    scale: 1;
    font-family: "Montserrat";
}
button:hover {
    scale: 1.1;
    cursor: pointer;
}
button:active {
    background: linear-gradient(90deg, #ffaaaa, #ffaaff);
}
@keyframes shake {
    0% {translate: 0 0;}
    25% {translate: var(--shake-move) var(--shake-move);}
    50% {translate: calc(0px - var(--shake-move)) var(--shake-move);}
    75% {translate: calc(0px - var(--shake-move)) calc(0px - var(--shake-move));}
    100% {translate: var(--shake-move) calc(0px - var(--shake-move));}
}
.godlike {
    animation: shake 0.2s linear infinite;
    font-weight: 600;
    color: black;
}
small {
    color: inherit;
    font-size: x-small;
}
