* {
	margin: 0;
	color: white;
	font-family: 'Open Sans', sans-serif;
	--glass-outline: rgba(255, 255, 255, 0.5);
}

::selection {
	background-color: rgba(170, 200, 255, 0.2);
	padding: 0.1rem;
	border-radius: 10px;
}

:root {
	font-weight: 100;
}

#context-menu {
  	display: none;
  	position: fixed;
  	background-color: rgba(170, 200, 255, 0.1);
  	box-shadow: var(--glass-outline) 0 0 2px inset;
  	z-index: 1000;
	border-radius: 5px;
	backdrop-filter: blur(5px);
}

#context-menu ul {
  	list-style: none;
  	margin: 0;
  	padding: 0;
	border-radius: inherit;
}

#context-menu ul li {
  	padding: 0.5rem 1rem;
  	cursor: pointer;
	transition: all 0.1s;
	font-size: 0.9rem;
	border-radius: inherit;
}

#context-menu ul li:hover {
  background-color: rgba(255, 255, 255, 0.2);
}

a {
	text-decoration: none;
	color: transparent;
	background: linear-gradient(90deg, red, magenta);
	background-clip: text;
}

#background {
	position: relative;
	background: linear-gradient(0deg, #150528, #1B0066);
	position: fixed;
	z-index: -1;
}

#content {
	width: 100vw;
	height: max-content;
	position: relative;
	transition: opacity 0.5s;
	padding-bottom: 10rem;
	top: 10rem;
}

#navbar {
	padding: 10px;
	translate: -50% -50%;
	left: 50%;
	top: 50px;
	position: fixed;
	border-radius: 50px;
	z-index: 1;
}

@media only screen and (max-width: 450px) {
	#navbar {
		width: max-content;
	}
}

.navlink {
	position: relative;
	scale: 1;
	border-radius: 100px;
	float: left;
	padding: 10px 20px;
	margin: 0px 5px;
	transition:
		background-color 0.3s,
		scale 0.1s;
}

.navlink:hover {
	cursor: pointer;
}

.navlink:active {
	scale: 1.1;
}

.navlink:not(.glass) {
	box-shadow: rgba(255, 255, 255, 0.2) 0 0 2px 0 inset;
	background-color: rgba(255, 255, 255, 0.02);
}

.navlink:not(.glass):hover {
	background-color: rgba(255, 255, 255, 0.1);
}

@media only screen and (max-width: 633px) {
	.navlink.hide {
		display: none;
	}
}

#projects-list {
	display: flex;
	flex-direction: column;
	row-gap: 2rem;
	margin-bottom: 10rem;
}

.project {
	border-radius: 20px;
	padding: 2rem;
	width: 50vw;
	height: max-content;
}

.project .heading {
	font-size: 1.3rem;
	position: relative;
	margin-bottom: 1em;
}

.project .heading a {
	color: white;
}

.project .heading::before {
	content: '';
	position: absolute;
	width: 100%;
	height: 0.1px;
	background-color: white;
	translate: -50% -50%;
	left: 50%;
	top: 1.5em;
}

.project.private .heading::after {
	content: ' (Private)';
	font-style: italic;
}

.project .status {
	text-transform: capitalize;
	font-style: italic;
}

.project .status::before {
	content: 'Status: ';
	font-style: normal;
	font-weight: 300;
}

.project .languages {
	margin: 1rem 2rem;
}

.languages {
	width: max-content;
}

.language {
	position: relative;
	float: left;
	margin-right: 3rem;
}

.language::after {
	content: '';
	position: absolute;
	translate: -50% -50%;
	width: 1rem;
	height: 1rem;
	top: 50%;
	left: -0.8rem;
	border-radius: 100%;
}

.language.cpp:after, .bar:nth-child(1) {background-color: #f34b7d;}
.language.typescript:after, .bar:nth-child(2) {background-color: #3178c6;}
.language.go:after, .bar:nth-child(3) {background-color: #00ADD8;}
.language.rust:after, .bar:nth-child(4) {background-color: #dea584;}
.language.c:after {background-color: #555555;}
.language.java:after {background-color: #b07219;}
.language.python:after {background-color: #3572A5;}
.language.javascript:after {background-color: #f1e05a;}

.bar {
	height: 0.5rem;
	display: block;
	float: left;
	margin: 0 0.5%;
}

.bar:first-child {
	border-top-left-radius: 100px;
	border-bottom-left-radius: 100px;
}
.bar:last-child {
	border-top-right-radius: 100px;
	border-bottom-right-radius: 100px;
}

.glass {
	background-color: rgba(255, 255, 255, 0.1);
	box-shadow:
		rgba(0, 0, 0, 0.1) 0 0 5px,
		var(--glass-outline) 0 0 2px 0 inset;
	backdrop-filter: blur(3px);
}

.middle {
	position: relative;
	width: max-content;
	margin: 0 auto;
}