body{
  font-family: Montserrat, sans-serif;
  margin: 0px;
  color: #dddddd;
  background-color: #0d1026;
}
.navbar{
  padding-left: 20px;
  margin:0;
  padding: 0;
  list-style-type: none;
  top: 0px;
  width: 100%;
  overflow: hidden;
  background-image: linear-gradient(90deg, #0091ff, #00ffbb);
  position: fixed;
  box-shadow: 0 0 10px 3px #0081af;
  z-index: 9999999999;
}
.panel{
  border-radius: 20px;
  background: #1B273E;
  border: 1px solid #aaffff;
  display: block;
  box-shadow: 0 0 10px #000000;
  padding-top: 20px;
}
.panel-content{
  padding: 20px;
}
.gradient{
  height: 115px;
  margin-top: -100px;
  margin-bottom: -60px;
  background-image: linear-gradient(transparent, #1B273E 80%, #1B273E);
  position: relative;
  z-index: 0;
}
.attribute{
  border-radius: 50px;
  background-color: #111213;
  text-transform: uppercase;
  padding: 5px 10px;
  display: inline;
  font-size: 0.8em;
}
.datum{
  margin-top: 1em;
}
.superheading{
  background: linear-gradient(135deg, #0091ff, #00ffbb);
  font-weight: bold;
  color: transparent;
  background-clip: text;
  display: inline;
  font-size: 4em;
}
.grid{
  display: grid;
  column-gap: 20px;
}
#content{
  margin: 70px 20px;
}
li{
  float: left;
}
li a{
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
